* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

html {
    scrollbar-width: thin;    
    scrollbar-color: var(--accent-color) var(--second-bg-color);
    overflow-x: hidden;
    width: 100%;
}


body {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
}