.menu {
  position: relative;
  width: 40px;
  height: 20px;
}

.burger-toggle {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  right: -30px;
  z-index: 1002;
  opacity: 0;
  cursor: pointer;
}

.burger-label {
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  right: -20px;
  cursor: pointer;
  z-index: 1001;
  padding: 0;
  box-sizing: content-box;
}

.burger-label .bar {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--text-color);
  border-radius: var(--border-radius);
  margin: 8px 0;
  transition: all 0.3s ease-in-out;
}

.burger-nav {
  display: none;
  position: fixed;
  top: 0;
  right: -300px;
  width: 100%;
  max-width: 60vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-out;
  z-index: 1000;
  padding-top: 80px;
}

.burger-toggle:checked + .burger-label .top-bar {
  transform: translateY(10px) rotate(45deg);
}
.burger-toggle:checked + .burger-label .middle-bar {
  opacity: 0;
}

.burger-toggle:checked + .burger-label .bottom-bar {
  transform: translateY(-10px) rotate(-45deg);
}
.burger-toggle:checked ~ .burger-nav {
  display: block;
  right: 0;
}

.burger-nav ul {
  list-style: none;
  padding: 0;
  margin: 5px;
}

.burger-nav ul li {
  border-bottom: 1px solid var(--bg-color);
}

.burger-nav ul li:last-child {
  border-bottom: none;
}

.burger-nav ul li {
  display: block;
  padding: 5px 5px;
  text-decoration: none;
  border-radius: var(--border-radius);
  color: var(--text-color);
  transition: background-color 0.2s ease;
}

.burger-nav ul li:hover,
.burger-nav ul li:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.sort-bt {
    width: 100%;
    background: none;
    border: none;
    color: var(--text-color);
    font-size: var(--font-size-normal);
    font-family: var(--font);
    text-align: left;
    padding: 15px;
    cursor: pointer;
}

/* When the menu is open we add this class to <body> to prevent background scrolling */
.no-scroll {
  overflow: hidden;
  height: 100vh;
  touch-action: none; /* improve behavior on touch devices */
}

