
.load-cards-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
}

.close-btn {
    padding: 20px;
    font-size: 20px;
    background: none;
    color: var(--text-color);
    border: none;
}

.close-btn:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
}

button, .pokemon-card, a {
    box-shadow: var(--text-shadow);
    border-radius: var(--border-radius);
    padding: 5px;
    cursor: pointer;
}

.sort-bt:hover, .load-cards-btn:hover,  a:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
    background-color: var(--second-bg-color);
}

button:active, a:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    border: none;
}