
.load-cards-btn, .back-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border: none;
}

.close-btn {
    padding: 20px;
    font-size: 20px;
    background: none;
    color: var(--text-color);
    border: none;
}

.close-btn:hover, #previous:hover, #next:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
}

button, .pokemon-card, a {
    box-shadow: var(--text-shadow);
    padding: 5px;
    cursor: pointer;
}

.sort-bt:hover, .load-cards-btn:hover,  a:hover, .back-button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
    background-color: var(--second-bg-color);
}

button:active, a:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    border: none;
}

.close-btn, .load-cards-btn, .pokemon-card, a, .sort-bt, .back-button {
    border-radius: var(--border-radius);
}

#next, #previous {
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
    color: var(--text-color);
    text-shadow: var(--text-shadow);
    box-shadow: 2px 2px 20px 8px var(--second-bg-color);
    border-radius: var(--border-radius);
    padding: 20px;
}
@media (max-width: 624px) {
    #next, #previous {
        padding: 10px;
    }
    
}