
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    z-index: 5;
}

.loader {
    width: 120px;
    height: 120px;
    border: 16px solid var(--second-bg-color);
    border-top: 16px solid var(--accent-color);
    border-radius: 50%;
    animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}