.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("./img/pokeball.png");
    background-repeat: no-repeat;
    background-position: 100% 20%;
    background-size: 140px 140px;
    background-blend-mode: overlay;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 220px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
}

.pokemon-card h3 {
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
    text-shadow: var(--text-shadow);
    margin-bottom: 10px;
}

.pokemon-name-number, .pokemon-types {
    margin-bottom: 10px;
}

.hover:hover {
    transform: scale(1.05);
}

.pokemon-card .pokemon-image {
    width: 140px;
    height: 140px;
    object-fit: contain;
}


.pokemon-types {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top:10px;
    min-height: 20px; 
}

.pokemon-card .pokemon-types .pokemon-type-image {
    width: 80px;
    height: 30px;
    object-fit: contain;
}

@media (max-width: 482px) {
    .pokemon-card {
        width: 150px;
    }
    .pokemon-card h3 {
        font-size: var(--font-size-large);
    }
    .pokemon-card .pokemon-types .pokemon-type-image {
        width: 60px;
        height: 30px;
        object-fit: contain;
    }
}