
#dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    width: 100%;
    height: 100vh;
}

.inner-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px 20px;
}

.dialog-header h2 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    text-shadow: var(--text-shadow);
    color: var(--text-color);
    margin-bottom: 10px;
}

.dialog-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.dialog-body .dialog-pokemon-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.dialog-pokemon-types {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}