
#dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    margin: 20px;
    width: 100%;
    height: 100vh;
}

.inner-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 750px;
    height: auto;
}

.dialog-body-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 650px;
}

.right-inner-dialog, .left-inner-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 30px 0;
    width: 100%;
    height: auto;
    max-width: 300px;
    line-height: 1.5;
    overflow-y: auto;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:0 20px;
}

.dialog-header h2 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    text-shadow: var(--text-shadow);
    color: var(--text-color);
}

.dialog-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dialog-body .dialog-pokemon-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.dialog-pokemon-types {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.right-inner-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 15px;
    height: 100%;
}

.dialog-tabs {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.dialog-tab-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    min-height: 350px;
    max-height: 500px;
}

.dialog-tab-button {
    display: inline-block;
    font-size: var(--font-size-small);
    background-color: var(--second-bg-color);
    border : 2px solid var(--second-bg-color);
    color: var(--text-color);
    border-radius: 0;
    padding: 6px;
    margin-left: -3px;
    width: 90px;
    transition: background-color 0.3s ease;
}

.dialog-tab-button.active {
    background-color: var(--bg-color);
    border-bottom : 2px solid var(--bg-color);
    font-weight: var(--font-weight-bold);
    border-bottom: none;
    box-shadow: none;
}

.dialog-tab-button:hover {
    background-color: var(--bg-color);
}
#about p, #about div {
    padding: 5px 0;
}

.abilities {
    overflow-y: scroll;
    max-height: 400px;
}
.height-and-weight {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    padding: 0 3px;
    border-radius: var(--border-radius);
    gap: 20px;
    margin-top: 10px;
    background-color: var(--second-bg-color);
}

table {
    position: absolute;
    inset: 40px 0;
    width: 100%;
    height: 80%;
    border-collapse: collapse;
}

.dialog-tab-pane {
    width: 100%;
}
table th, table td {
    text-align: left;
    padding: 0;
    border-bottom: 1px solid var(--second-bg-color);
}

table tr td:first-child {
    min-width: 120px;
}

table tr td:nth-child(2) {
    padding-right: 5px;
}
.stats-bar {
    width: 100%;
    background-color: var(--second-bg-color);
    border-top: 20px solid var(--bg-color);
    border-radius: 30% 30% var(--border-radius) var(--border-radius);
    overflow: hidden;
    margin: 20px;
}

.stats-bar-fill {
    display: block;
    height: 20%;
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    width: 100%;
}
