

.dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    margin: 20px;
    width: 100%;
    height: 100vh;
}

.inner-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--second-bg-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding-bottom: 12px;
    max-width: 1050px;
    height: auto;
}

.dialog-body-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 650px;
}

.right-inner-dialog, .left-inner-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    line-height: 1.5;
    overflow-y: auto;
}
.left-inner-dialog {
    background-color: var(--pokemon-dialog-bg-color);
    border-radius: var(--border-radius);

}
.right-inner-dialog {
    justify-content: flex-start;
    gap: 15px;
    padding-left: 15px;
    height: 100%;
    background-color: var(--bg-color);
    border-radius: 30px 0 var(--border-radius) 30px ;
    overflow: visible;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:0 20px;
}

.dialog-header h2 {
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
    text-shadow: var(--text-shadow);
    color: var(--text-color);
}

.dialog-body {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.dialog-pokemon-image {
    width: 100%;
    height: 85%;
    padding-bottom: 20px;
    object-fit: contain;
}

.dialog-pokemon-types {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 15px;
}

.dialog-tabs {
    display: flex;
}
.dialog-tab-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    min-height: 350px;
    max-height: 500px;
}

.dialog-tab-button {
    display: inline-block;
    font-size: var(--font-size-normal);
    background-color: var(--second-bg-color);
    border : 2px solid var(--second-bg-color);
    color: var(--text-color);
    border-radius: 0;
    padding: 6px;
    margin-left: -3px;
    width: 100px;
    transition: background-color 0.3s ease;
}

.dialog-tab-button.active {
    background-color: var(--bg-color);
    border-bottom : 2px solid var(--bg-color);
    font-weight: var(--font-weight-bold);
    border-bottom: none;
    box-shadow: none;
}

.dialog-tab-button:hover {
    background-color: var(--bg-color);
}
#about p, #about div {
    font-size: var(--font-size-large); 
    padding: 5px 0;
}

.description, .abilities {
    font-size: var(--font-size-large); 
    padding: 5px;
    margin-top: 20px;
}

.height-and-weight {
    font-size: var(--font-size-large);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    padding: 5px;
    border-radius: var(--border-radius);
    gap: 20px;
    margin: 10px 0 20px 0;
    background-color: var(--second-bg-color);
}

table {
    position: absolute;
    inset: 40px 0;
    width: 100%;
    height: 80%;
    border-collapse: collapse;
}

.dialog-tab-pane {
    width: 100%;
}
table th, table td {
    text-align: left;
    padding: 0;
    border-bottom: 1px solid var(--second-bg-color);
}

table tr td:first-child {
    min-width: 120px;
}

table tr td:nth-child(2) {
    padding-right: 5px;
}
.stats-bar {
    width: 100%;
    background-color: var(--second-bg-color);
    border-top: 20px solid var(--bg-color);
    border-radius: 30% 30% var(--border-radius) var(--border-radius);
    overflow: hidden;
    margin: 20px;
}

.stats-bar-fill {
    display: block;
    height: 20%;
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    width: 100%;
}

#ability {
    overflow-y: scroll;
}

.abilities-info div {
    padding: 15px;
    margin-bottom: 10px;
    line-height: 1.75;
}

.pokemon-evolutions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}

.pokemon-evolutions .evolution-sprite {
    width: 120px;
    height: 120px;
}

.previous-and-next-btn {
    position: absolute;
    top: 50%;
}
.previous {
    left: 5%;
}
.next {
    right: 5%;
}


@media (max-width: 1348px) {

    .inner-dialog{
        max-width: 86%;
    }
    .previous {
        left: 5px;
    }
    .next {
        right: 5px;
    }
}

@media (max-width: 960px) {
    .dialog-body-content  {
        flex-direction: column;
    }
    .inner-dialog, .dialog-content {
        height: 100%;
    }
     .dialog-header {
        position: relative;
        top: -20px;
     }
    .previous {
        left: 0px;
    }
    .next {
        right: 0px;
    }
}