
header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logo {
    height: 80px;
    width: auto;
}

h1 {
    padding: 10px 0 0 10px;
}

.search-field {
    width: 100%;
    padding: 8px 12px;
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size-normal);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-field input {
    width: 100%;
    height: 40px;
    position: relative;
    border: none;
    outline: none;
    box-shadow: var(--text-shadow);
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--font-size-normal);
}

.search-field input::placeholder {
    opacity: 0.9;
}

.search-field button {
    width: 20px;
    height: 40px;
    position: absolute;
    background-image: url(../assets/img/pokeball.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--bg-color);
    cursor: pointer;
}

