:root {
    --bg-color: #14142b;
    --second-bg-color: #161644;
    --pokemon-dialog-bg-color: #16164459;
    --text-color: #ddddef;
    --accent-color: #408500;
    --fire-type-color: #ce3e24;
    --water-type-color: #3872ee;
    --grass-type-color: #7cb920de;
    --electric-type-color: #f0c91c;
    --psychic-type-color: #d859a3;
    --normal-type-color: #91979b;
    --dark-type-color: #292e44;
    --bug-type-color: #588525;
    --poison-type-color: #ad74bd;
    --ground-type-color: #926f2f;
    --fairy-type-color: #ce9abe;
    --ice-type-color: #56c7cf;
    --fighting-type-color: #f07326;
    --rock-type-color: #aa9479;
    --ghost-type-color: #705898;
    --dragon-type-color: #461da5;
    --steel-type-color: #76a2ad;
    --flying-type-color: #69b1ce;

    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-size-small: 14px;
    --font-size-normal: 16px;
    --font-size-large: 20px;
    --font-size-xlarge: 26px;
    --font-weight-normal: 500;
    --font-weight-bold: 700;
    --border-radius: 10px;
    --text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.type-fire {
    background-color: var(--fire-type-color);
}
.type-water {
    background-color: var(--water-type-color);
}
.type-grass {
    background-color: var(--grass-type-color);
}
.type-electric {
    background-color: var(--electric-type-color);
}
.type-psychic {
    background-color: var(--psychic-type-color);
}
.type-normal {
    background-color: var(--normal-type-color);
}
.type-dark {
    background-color: var(--dark-type-color);
}
.type-bug {
    background-color: var(--bug-type-color);
}
.type-poison {
    background-color: var(--poison-type-color);
}
.type-ground {
    background-color: var(--ground-type-color);
}
.type-fairy {
    background-color: var(--fairy-type-color);
}
.type-ice {
    background-color: var(--ice-type-color);
}
.type-fighting {
    background-color: var(--fighting-type-color);
}
.type-rock {
    background-color: var(--rock-type-color);
}
.type-ghost {
    background-color: var(--ghost-type-color);
}
.type-dragon {
    background-color: var(--dragon-type-color);
}
.type-steel {
    background-color: var(--steel-type-color);
}
.type-flying {
    background-color: var(--flying-type-color);
}


