header, footer {
    display: flex;
    align-items: center;
    background-color: var(--second-bg-color);
    color: var(--text-color);
    height: 120px;
}

footer {
    justify-content: center;
}

main {
    flex: 1;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 0;
}

#content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pokemon-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.no-scroll {
    position: fixed;
    overflow: hidden;
    touch-action: none; 
    padding-right: 15px;
}

.hide {
    display: none;
}