header, footer {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--second-bg-color);
    color: var(--text-color);
    height: 120px;
}

footer {
    justify-content: center;
}

main {
    flex: 1;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 0;
}

#content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pokemon-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.pokemon-name::first-letter {
    text-transform: capitalize;
}

.reload-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.no-scroll {
    position: fixed;
    touch-action: none; 
    padding-right: 15px;
}

.hide {
    display: none;
}